.login-root{
    background-color: black;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-small{ 
    width: 400px;
    padding: 30px 10px;
    background-color: blanchedalmond;
}